.app {
  display: flex;
  height: 100vh;
}

.heading{
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: larger;
  padding: 15px;
  border-bottom: 1px solid black ;
}

.customer-list {
  width: 300px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.customer-card {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.customer-card.selected {
  background-color: #f0f0f0;
}

.customer-details {
  flex: 1;
  padding: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: auto;
}